" Leader key
let mapleader=","

" Default config
" Plugins 
set surround
set multiple-cursors
set NERDTree
set showmode
set visualbell
set noerrorbells

" Intellij action
nmap <leader>f <Action>(Find)
nmap <leader>p <Action>(GotoFile)
nmap <leader>r <Action>(FindInPath)
nmap <leader>s <Action>(ShowErrorDescription)
nmap <leader>F <Action>(ReformatWithPrettierAction)
nmap <leader>q <Action>(QuickTypeDefinition)

" window
map <C-w>i <C-w>v
map <C-w>s <C-w>s

" NERDTree 
map <C-b> :NERDTree<CR>
map <C-h> <C-w>h
map <C-j> <C-w>j
map <C-k> <C-k>k
map <C-l> <C-w>l

" Multiple-cursors
xmap <C-n> <Plug>NextOccurrence
xmap <C-p> <Plug>RemoveOccurrence
xmap <C-x> <Plug>SkipOccurrence