" Map leader to , ------------------------
let mapleader=","

mal.OpenInTerminal)m Plugins ------------------------
set surround
set multiple-cursors
set NERDTree
set showmode


m Key mapping ------------------------
" Intellij action
nmap <leader>f <Action>(Find)
nmap <leader>p <Action>(GotoFile)
nmap <leader>r <Action>(FindInPath)
nmap <leader>s <Action>(GotoNextError)
nmap <leader>F <Action>(ReformatWithPrettierAction)

" window
map <C-w>i <C-w>v
map <C-w>s <C-w>s

" NERDTree ------------------------
map <C-h> <C-w>h
map <C-j> <C-w>j
map <C-k> <C-k>k
map <C-l> <C-w>l

" Remap multiple-cursors shortcuts to match terryma/vim-multiple-cursors
xmap <C-n> <Plug>NextOccurrence
xmap <C-p> <Plug>RemoveOccurrence
xmap <C-x> <Plug>SkipOccurrence